<footer><div class="bounds">
	<strong>&copy;</strong> Copyright Lee Miller <%= Time.now.year %><br>
	<a href="http://blog.iarke.us"><i class="icon-sign-blank"></i></a>
	<a href="https://twitter.com/#!/arkeus"><i class="icon-twitter-sign"></i></a>
	<a href="https://github.com/arkeus"><i class="icon-github-sign"></i></a>
	<a href="https://www.facebook.com/arkeus"><i class="icon-facebook-sign"></i></a>
	<a href="https://plus.google.com/118186154411847048977/about"><i class="icon-google-plus-sign"></i></a>
</div></footer>
